# ignore an entire directory
/dcu/
/.git/
/__history/
/__recovery/
/Controles/__history/

/Demo/Projeto/__recovery/
/Demo/Projeto/__history/

/Demo/View/__recovery/
/Demo/View/__history/

/Demob/Binarios/
/Demob/DCUs/

/Projeto/__history/
/Projeto/Win32/

/Source/__history/
/Source/__recovery/



# ignore a file type
*.gitignore

# Arquivos do Delphi
*.dcu
*.dproj.local
*.groupproj.local
*..tvsconfig
*.identcache
*.res

*.~*


# Arquivos diversos
*.zip
*.rar
*.ini
*.exe


# add an exception (using !) to the preceding rule to track a specific file
